<StackLayout>
    <Label class="main" [text]="'Location Enabled '+locationMessage"></Label>
    <Label class="main" [text]="latitude"></Label>
    <Label class="main" [text]="longitude"></Label>
    <Button class="button" text="Reload Data" (tap)="ngOnInit()"></Button>
       <!--<ListView
            [items]="tides"
            id=""
            row="1"
            class="list-group"
            >                             
            <ng-template tkListItemTemplate let-item="item" let-i="index">
                <GridLayout class="list-group-item" height="auto" rows="" columns="auto,*,auto">
                    <Image class="thumb img-circle" backgroundColor="#ccc" [src]="item.img" stretch="aspectFit" col="0"></Image>
                    <Stacklayout col="1">
                        <Label [text]="item.height" opacity=".5"></Label>
                        <Label [text]="item.date"></Label>
                    </Stacklayout>
                </GridLayout>
            </ng-template>
        </ListView>-->
        <StackLayout class="p-20">
            <RadCartesianChart tkExampleTitle tkToggleNavButton allowZoom="true" allowPan="true" class="m-t-10" height="500" labelFitMode="rotate" labelTextColor="#cb4b16" labelSize="10" lineThickness="3" lineColor="Red">
                <CategoricalAxis tkCartesianHorizontalAxis labelSize="8" allowPan="true" allowZoom="true" labelFitMode="rotate" labelRotationAngle="45"></CategoricalAxis>
                <LinearAxis tkCartesianVerticalAxis></LinearAxis>
                <AreaSeries tkCartesianSeries class="footnote" showLabels="true" [items]="tides" categoryProperty="date" valueProperty="height"></AreaSeries>
            </RadCartesianChart>
        </StackLayout>
</StackLayout>